<input ng2-auto-complete placeholder="search" 
  [(ngModel)]="selectedItem" 
  [source]="arrayOfStrings" 
  (valueChanged)="searchBoxItemSelected($event)"
  tabindex="0">
<!--
<div class="ac-input">
  <input type="text" id="multipleInput" placeholder="Please input some letters" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off" class="">
  <ul id="multipleDropdown" class="dropdown-content ac-dropdown" style="width: 800px; position: absolute; top: 45px; left: 219.469px; opacity: 1; display: none;"></ul>
  <input type="hidden" class="validate" value="Abe,Ari">
</div>-->

<section *ngIf="edited" class="col s12">
  <div class="row">
    <div class="col s3">
        {{selectedItem}}
    </div>
  </div>
  <div class="row">
    <div class="col s3">
    </div>
    <div class="col s2">
      <label><strong>Yrs Experience</strong></label>
    </div>
    <div class="col s2">
      <label><strong>Skill Level</strong></label>
    </div>
    <div class="col s2">
      <label><strong>Last Used</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <label>Mister Tester</label>
    </div>
    <div class="col s2">
      <label>One to Six Months</label>
    </div>
    <div class="col s2">
      <label>Beginner</label>
    </div>
    <div class="col s2">
      <label>Less Than One Month</label>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <label>Pat Doe</label>
    </div>
    <div class="col s2">
      <label>One to Two Years</label>
    </div>
    <div class="col s2">
      <label>Intermediate</label>
    </div>
    <div class="col s2">
      <label>Six to Twelve Months</label>
    </div>
  </div>
</section>
