<div class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <app-error *ngIf="hasError" [errors]="errors"></app-error>
    <h4>Add Skill</h4>
    <h6><em>Choose:</em></h6>
    <select materialize="material_select" [(ngModel)]="selectedSkillId" #skillsDropdown>
      <option value="" disabled selected>Skill</option>
      <option *ngFor="let skill of availableSkills" value="{{skill.id}}">{{skill?.name}}</option>
    </select>
    <select materialize="material_select" [(ngModel)]="selectedSkillLevelCode" #skillLevelDropdown>
      <option value="" disabled selected>Skill level</option>
      <option *ngFor="let skillLevel of availableSkillLevels" value="{{skillLevel.code}}">{{skillLevel?.description}}</option>
    </select>
    <select materialize="material_select" [(ngModel)]="selectedTimeUsedCode" #timeUsedDropdown>
      <option value="" disabled selected>Time used</option>
      <option *ngFor="let timePeriod of availableTimePeriods" value="{{timePeriod.code}}">{{timePeriod?.description}}</option>
    </select>
    <select materialize="material_select" [(ngModel)]="selectedTimeLastUsedCode" #timeLastUsedDropdown>
      <option value="" disabled selected>Last time used</option>
      <option *ngFor="let timePeriod of availableTimePeriods" value="{{timePeriod.code}}">{{timePeriod?.description}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="waves-effect waves-green btn-flat" (click)="addSkill()">Add</a>
    <a href="javascript:void(0)" class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancel</a>
  </div>
</div>