<p>Welcome to Skillustrator, where organizations can track the skills of their people, and get deep insight into their organization's overall abilities and what kind of tasks and projects can be taken on.</p>

<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4" style="margin:10px">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Build a portfolio of your skills</h5>

            <p class="light">Users within an organzation can enter, manage and track their skills and the skills of others</p>
          </div>
        </div>

        <div class="col s12 m4" style="margin:10px">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Quick insight into your organzation's abilitites</h5>

            <p class="light">Users can find who has a particular skill, or combination of skills for a project, technology stack or any set of skills you desire.</p>
          </div>
        </div>

        <!--<div class="col s12 m4" style="margin:10px">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to Expand</h5>

            <p class="light">Skills can be grouped together with tags. Tags could be added for projects, so all the skills needed for it can be tracked. They could be added for a top-level skill too (i.e. .NET) and applied to more specific skills (i.e. ASP.NET Core, Entity Framework Core)</p>
          </div>
        </div>-->
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>