<div class="row">
  <div class="col s12 m12">
    <h5><b>Microsoft Office</b></h5>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle blue">insert_chart</i>
        <span class="title"><b>Microsoft Word</b></span>
        <p>6 years experience (last used December 2016)</p>
        <span class="secondary-content">
          <a href="javascript:void(0)"><i class="material-icons">mode_edit</i></a>
          <a href="javascript:void(0)"><i class="material-icons">delete</i></a>
        </span>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title"><b>Microsoft Excel</b></span>
        <p>4 years experience (last used October 2016)</p>
        <span class="secondary-content">
          <a href="javascript:void(0)"><i class="material-icons">mode_edit</i></a>
          <a href="javascript:void(0)"><i class="material-icons">delete</i></a>
        </span>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">insert_chart</i>
        <span class="title"><b>Microsoft PowerPoint</b></span>
        <p>5 years experience (last used July 2016)</p>
        <span class="secondary-content">
          <a href="javascript:void(0)"><i class="material-icons">mode_edit</i></a>
          <a href="javascript:void(0)"><i class="material-icons">delete</i></a>
        </span>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle yellow">insert_chart</i>
        <span class="title"><b>Microsoft Outlook</b></span>
        <p>3 years experience (last used December 2016)</p>
        <span class="secondary-content">
          <a href="javascript:void(0)"><i class="material-icons">mode_edit</i></a>
          <a href="javascript:void(0)"><i class="material-icons">delete</i></a>
        </span>
      </li>
    </ul>
  </div>
</div>